<!-- About Section -->
<section class="row padding-y-60">
  <div class="container">
    <p class="h1 text-center fw-500">
      The world's <span class="text-research-primary">leading open source foundation</span> 
      for <br> publicly funded research projects.
    </p>
    <div class="radial-bg padding-top-60 padding-bottom-0 margin-bottom-60">
      <div class="about-card text-black">
        <div class="row">
          <div class="col-md-11 match-height-item-by-row flex-center margin-bottom-30">
            <a 
              class="eclipsefdn-video" 
              href="https://www.youtube.com/embed/playlist?list=PLy7t4z5SYNaQpEGxqW3XbmEEPds9ql3oT"
            ></a>
          </div>
          <div class="col-md-11 col-md-offset-2 featured-section match-height-item-by-row">
            <p>
              Since 2013, we have participated in 30 research projects in
              collaboration with over 730 partners, with 15 active projects
              currently underway across key technology domains including AI,
              security, cloud, data spaces, software-defined vehicles, embedded,
              IoT, and open hardware.
            </p>
            <p>
              We welcome the opportunity to collaborate on new industry research
              projects.
            </p>
            <div class="margin-top-30">
              <a class="text-research-primary" href="#stay-connected">
                Contact us <i class="fa-solid fa-arrow-right margin-left-5" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Funding Section -->
<section class="row padding-y-60 featured-section funding-section bg-white">
  <div class="container">
    <div class="col-md-12 margin-bottom-40">
      <h2>Funding organisations</h2>
      <p>
        The Eclipse Foundation collaborates with leading national and
        international research funding organisations. We specialise in
        transforming research outcomes into sustainable open source software
        platforms, ensuring they are accessible for both commercial and public
        benefit.
      </p>
    </div>
    <div class="col-md-12">
      <div class="funding-logos">
        <!-- Horizon Europe -->
        <img class="img-responsive" src="/research/images/funding/horizon-eu.png" alt="Horizon Europe">
        <!-- ITEA 4 -->
        <img class="img-responsive" src="/research/images/funding/itea4.png" alt="ITEA 4">
        <!-- Chips JU -->
        <img class="img-responsive" src="/research/images/funding/chips-ju.png" alt="Chips JU">
        <!-- Bundesministerium -->
        <img class="img-responsive" src="/research/images/funding/bmbf.png" alt="Bundesministerium für Bildung und Forschung">
      </div>
    </div>
  </div>
</section>

<div class="row wire-waves-graphic hidden-xs hidden-sm">
  <img class="wire-waves" src="/research/images/wire-wave-transparent.svg" alt="">
  <div class="container">
    <img class="foreground" src="/research/images/blobs.png" alt=""> 
  </div>
</div>

<!-- What We Offer Section -->
<section class="what-we-offer-section row padding-y-60">
  <div class="container">
    <h2>What we offer</h2>
    <div class="radial-bg padding-top-60">
      <!-- Accordion -->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- Path to sustainability -->
        <div class="panel panel-research">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div>
                  <img src="/research/images/icons/accordion-leaf.svg" alt="" width="25">
                  A path to sustainability
                </div>
                <div class="fa-stack">
                  <i class="icon-bg fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                  <i class="open-icon fa-solid fa-plus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                  <i class="close-icon fa-solid fa-minus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Guidance on transforming research into long-term, impactful open
              source platforms.
            </div>
          </div>
        </div>
        <!-- Open collaboration guidance -->
        <div class="panel panel-research">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div>
                  <img src="/research/images/icons/accordion-guidance.svg" alt="" width="25">
                  Open collaboration guidance
                </div>
                <div class="fa-stack">
                  <i class="icon-bg fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                  <i class="open-icon fa-solid fa-plus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                  <i class="close-icon fa-solid fa-minus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Benefit from trusted governance models, robust IP management, and
              commercial-friendly licensing practices, backed by the Eclipse
              Foundation's globally recognised expertise and deep European
              roots.
            </div>
          </div>
        </div>
        <!-- Open source project lifecycle support -->
        <div class="panel panel-research">
          <div class="panel-heading" role="tab" id="headingLifecycle">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLifecycle" aria-expanded="false" aria-controls="collapseLifecycle">
                <div class="display-flex">
                  <img src="/research/images/icons/accordion-briefcase.svg" alt="" width="25">
                  Open source project lifecycle support
                </div>
                <div class="fa-stack">
                  <i class="icon-bg fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                  <i class="open-icon fa-solid fa-plus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                  <i class="close-icon fa-solid fa-minus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseLifecycle" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLifecycle">
            <div class="panel-body">
              Expertise in managing the entire lifecycle of open source
              projects, from creation to long-term maintenance.
            </div>
          </div>
        </div>
        <!-- Expertise in community building -->
        <div class="panel panel-research">
          <div class="panel-heading" role="tab" id="headingCommunity">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCommunity" aria-expanded="false" aria-controls="collapseCommunity">
                <div class="display-flex">
                  <img src="/research/images/icons/accordion-stack.svg" alt="" width="25">
                  Expertise in community building
                </div>
                <div class="fa-stack">
                  <i class="icon-bg fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                  <i class="open-icon fa-solid fa-plus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                  <i class="close-icon fa-solid fa-minus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseCommunity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCommunity">
            <div class="panel-body">
              Proven strategies to build and grow diverse communities of
              contributors, adopters, and collaborators to your project.
            </div>
          </div>
        </div>
        <!-- Access to the Eclipse Foundation ecosystem -->
        <div class="panel panel-research">
          <div class="panel-heading" role="tab" id="headingEcosystem">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEcosystem" aria-expanded="false" aria-controls="collapseEcosystem">
                <div class="display-flex">
                  <img src="/research/images/icons/accordion-puzzle.svg" alt="" width="25">
                  Access to the Eclipse Foundation ecosystem
                </div>
                <div class="fa-stack">
                  <i class="icon-bg fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                  <i class="open-icon fa-solid fa-plus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                  <i class="close-icon fa-solid fa-minus fa-inverse fa-stack-1x" aria-hidden="true"></i>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseEcosystem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEcosystem">
            <div class="panel-body">
              Leverage a global network of developers, tools, and open source
              technologies, with the Eclipse Foundation’s leadership in
              connecting European research initiatives to global innovation.
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</section>

<!-- Transform Your Research -->
<section class="featured-section dark bg-wire-waves padding-y-60 text-center row inherit-link-colors">
  <div class="container">
    <h2><span class="text-greenish-cyan">Transform your research</span> into open source <br> with global impact</h2>
    <p>
      Partner with the Eclipse Foundation to create sustainable open source
      platforms that amplify your project's global reach and ensure lasting
      value. 
    </p>
    <a class="btn btn-pill btn-primary btn-lg margin-top-60" href="#stay-connected">Contact us</a>
  </div>
</section>

<!-- Meet the Team Section -->
<section class="padding-y-60 row">
  <div class="container">
    <h2 class="margin-bottom-60">Meet the team</h2>

    <!-- Cairo -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <div class="research-team-member">
        <img class="img-responsive" src="/research/images/team/cairo-caplan.jpg" alt="">
        <p class="research-team-member-name">Cairo Caplan, PhD</p>
        <p class="research-team-member-title">Testing Engineer</p>
      </div>
    </div>

    <!-- Andre -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <div class="research-team-member">
        <img class="img-responsive" src="/research/images/team/andre-gomes.jpg" alt="">
        <p class="research-team-member-name">André Gomes, PhD</p>
        <p class="research-team-member-title">Research Project Manager</p>
      </div>
    </div>

    <!-- Marco -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <div class="research-team-member">
        <img class="img-responsive" src="/research/images/team/marco-jahn.jpg" alt="">
        <p class="research-team-member-name">Marco Jahn, PhD</p>
        <p class="research-team-member-title">Senior Research Project Manager</p>
      </div>
    </div>

    <!-- Philippe -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <div class="research-team-member">
        <img class="img-responsive" src="/research/images/team/philippe-krief.jpg" alt="">
        <p class="research-team-member-name">Philippe Krief, PhD</p>
        <p class="research-team-member-title">Director, Research Relations</p>
      </div>
    </div>

    <!-- Babasile -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <div class="research-team-member">
        <img class="img-responsive" src="/research/images/team/babasile-oladele-emmanuel.jpg" alt="">
        <p class="research-team-member-name">Babasile Daniel Oladele-Emmanuel, PhD</p>
        <p class="research-team-member-title">Research Project Manager</p>
      </div>
    </div>

    <!-- David -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <div class="research-team-member">
        <img class="img-responsive" src="/research/images/team/david-remon.jpg" alt="">
        <p class="research-team-member-name">David Remon</p>
        <p class="research-team-member-title">Research Project Manager</p>
      </div>
    </div>

    <!-- Rosaria -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <div class="research-team-member">
        <img class="img-responsive" src="/research/images/team/rosaria-rossini.jpg" alt="">
        <p class="research-team-member-name">Rosaria Rossini, PhD</p>
        <p class="research-team-member-title">Research Project Manager</p>
      </div>
    </div>

    <!-- Info Block -->
    <div class="col-xs-18 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-lg-6 match-height-item-by-row">
      <p class="research-team-info-block">Supported by 70+ <br> Eclipse Foundation <br> staff globally</p>
    </div>

    <div class="clearfix"></div>
  </div>
</section>

<div class="bg-research-gradient row">
  <!-- OSS Bridges the Gap -->
  <section class="featured-section padding-y-60">
    <div class="container">
      <div class="col-md-11 margin-bottom-60">
        <img class="img-responsive" src="/research/images/oss-chart.png" alt='A circular diagram illustrating the relationship between open-source software (OSS) and its stakeholders. The center contains "Open Source Software (OSS)" in an orange circle. Surrounding this are three sections labeled: "Prototypes" (top), "Requirements" (right), and "Industrialisation" (left). The outermost ring connects three groups to these sections: "Researchers" (top) linked to Prototypes, "Large Organisations" (right) linked to Requirements, and "Software Vendors" (left) linked to Industrialisation.'>
      </div>
      <div class="col-md-12 col-md-offset-1">
        <h2 class="margin-bottom-30">OSS bridges the gap <br> between researchers, <br> industry, and SMEs</h2>
        <ul class="research-checklist">
          <li class="checked">
            <strong class="text-black">Large industrial organisations</strong>
            contribute concrete requirements through real-world use cases.
          </li>
          <li class="checked">
            <strong class="text-black">Researchers</strong> develop innovative
            prototypes to address these requirements.  
          </li>
          <li class="checked">
            <strong class="text-black">Small and medium-sized software vendors</strong> 
            industrialise these innovations, building sustainable business
            models around products and services adopted by industry.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Research Translation Made Simple -->
  <section class="featured-section padding-y-60">
    <div class="container">
      <div class="col-md-11">
        <h2 class="margin-top-0">Research translation made simple</h2>
        <p>
          By adhering to the open collaboration best practices, development
          processes, and intellectual property management practices,
          researchers gain confidence that their innovations are secure, open,
          and ready for commercial use.
        </p>
        <p>
          All contributions are licensed under a business-friendly open source
          license.
        </p>
      </div>
      <div class="col-md-12 col-md-offset-1 margin-top-10">
        <p class="fw-600 text-black margin-bottom-30">The Eclipse Foundation empowers research teams to:</p>
        <ul class="research-card-list list-unstyled">
          <li>
            <img src="/research/images/icons/code.svg" alt="">
            <p>Develop, evolve, and sustain open source projects that encapsulate research outcomes.</p>
          </li> 
          <li>
            <img src="/research/images/icons/computer.svg" alt="">
            <p>
              Use proven governance and IP management frameworks to ensure code
              is always ready for research or commercial translation.
            </p>
          </li> 
          <li>
            <img src="/research/images/icons/share.svg" alt="">
            <p>
              Disseminate research findings effectively through open source,
              fostering adoption and impact.
            </p>
          </li> 
        </ul>
      </div>
    </div>
  </section>
</div>

<section class="row padding-y-60 featured-section">
  <div class="container">
    <h2>Explore our impact</h2>
    <p class="fw-600">
      Discover our ongoing and completed partnerships, showcasing the
      transformative power of open source in research:
    </p>
    <div 
      class="featured-projects margin-y-30" 
      data-types="projects" 
      data-url="/research/projects/index.json" 
      data-is-static-source="true"
      data-template-id="research-projects-row"
    >
    </div>
  </div>
</section>

<section class="row padding-y-60 featured-section">
  <div class="container">
    <div class="groups-we-support">
      <h2 class="margin-bottom-60">Groups we support</h2>
      <ul class="list-unstyled">
        <li>
          <img class="img-responsive" src="https://gemoc.org/img/gemoc-eclipse-rc.png" alt="Eclipse GEMOC">
        </li>
        <li>
          <img class="img-responsive" src="https://www.eclipse.org/org/workinggroups/assets/images/ig-models-for-privacy-engineering.png" alt="Models for Privacy Engineering">
        </li>
        <li>
          <img class="img-responsive" src="https://www.eclipse.org/org/workinggroups/assets/images/wg-openhw-foundation.svg" alt="OpenHW Foundation">
        </li>
        <li>
          <img class="img-responsive" src="https://www.eclipse.org/org/workinggroups/assets/images/wg-sdv.svg" alt="Eclipse Software Defined Vehicle">
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="row padding-y-60">
  <div class="container">
    <h2 class="margin-bottom-40">Resources</h2>
    <div 
      class="newsroom-resources" 
      data-res-title="" 
      data-res-type="case_study, white_paper, market_report, social_media_kit" 
      data-res-class="newsroom-resource-card" 
      data-res-template="image" 
      data-res-wg="research"
    >
    </div>
  </div>
</section>

<section class="stay-connected-section bg-research-connected-gradient row padding-y-60 dark inherit-link-colors featured-section">
  <div class="container">
    <div class="col-sm-12 padding-top-30">
      <div class="links-hover-primary">
        <h2 id="stay-connected">Stay connected</h2>
        <p>
          We welcome opportunities to work with new industry research projects.
          If you would like more information, please contact us at
          <a href="mailto:research@eclipse.org">research@eclipse.org</a>.
        </p>
        <p>
          To follow our activities, please subscribe to our mailing list
          <a href="https://accounts.eclipse.org/mailing-list/research-ec">research-ec@eclipse.org</a> 
          or follow us on social media @ResearchEclipse.
        </p>
      </div>
      <ul class="list-unstyled display-flex gap-5 margin-y-30">
        <li>
          <a class="fa-stack" href="https://www.linkedin.com/company/eclipse-foundation">
            <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa-brands fa-inverse fa-linkedin-in fa-stack-1x" aria-hidden="true"></i>
            <span class="sr-only">Eclipse Foundation's LinkedIn Profile</span>
          </a>
        </li>
        <li>
          <a class="fa-stack" href="https://x.com/ResearchEclipse">
            <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa-brands fa-inverse fa-x-twitter fa-stack-1x" aria-hidden="true"></i>
            <span class="sr-only">Eclipse Foundation Research's X Profile</span>
          </a>
        </li>
        <li>
          <a class="fa-stack" href="https://www.youtube.com/@EclipseFdn">
            <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa-brands fa-inverse fa-youtube fa-stack-1x" aria-hidden="true"></i>
            <span class="sr-only">Eclipse Foundation's YouTube Channel</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <!-- Hubspot Contact Form -->
      <div class="research-contact-form">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "5413615",
            formId: "81c7873e-8407-4046-9801-39c6f70a3e22"
          });
        </script>
      </div>
    </div>
  </div>
</section>
