/*!
 * Copyright (c) 2021, 2023, 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/astro/main.less';
@import '_variables.less';

@import 'base/_containers.less';
@import 'components/_lists.less';
@import 'components/_cards.less';
@import 'components/_feeds.less';
@import 'components/_tabs.less';

@import 'layout/_jumbotron.less';
@import 'layout/_sections.less';

@import 'pages/security.less';

@import 'base/_utility-classes.less';

.featured-projects {
  align-items: stretch;
}

#footer-end { 
  // Hotfix for horizontal scrolling on .break-container usage in newsletter
  // form. Use negative margins instead.
  overflow-x: hidden;
}

// @todo: Allow to add class
// to https://gitlab.eclipse.org/eclipsefdn/it/webdev/hugo-solstice-theme/-/blob/master/layouts/partials/featured_story.html
#featured-story {
  margin-bottom: 60px;
}


// @todo: Move the following to solstice-assets
// as @featured-section-row-dark-bg: @black;
.featured-section-row-dark-bg {
  background-color: @black;

  .h2,
  .h3 { // Should just add .hX alongside the hX rules in EFSA
    color: @white;
  }
}

// container-class to center align h1
// see: /sponsor/collaboration/
.center-align-h1{
  h1{
    text-align: center;
    padding-bottom:35px;
    padding-top:25px;
  }
}

//@todo: Remove hotfix
// Hotfix for infinite loading spinner when no ads exist for specific format.
.eclipsefdn-promo-content .fa-spinner {
  display: none;
}

.what-our-members-say-section {
  position: relative;

  &-bg {
    @media (min-width: @screen-sm-min) {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 75%;
      background: url('./images/os4biz/services/bg-what-our-members-say.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: @screen-md-min) {
      background-position: 0 45%;
    }
  }

  .quote-tile:first-child {
    position: relative;
    padding-top: 16rem;

    .quote-icon {
      position: absolute;
      top: 3rem;
      left: calc(50% - (13rem / 2));
      width: 13rem;
      filter: grayscale(1);
    }
  }
}

.light-link {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #9DB6FB;
  }
}

.dark a {
  &,
  &:focus,
  &:hover,
  &:active {
    color: #76A4E3;
  }
}

.dark code {
  color: #eee;
  background-color: #333;
}
