/*
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.featured-jumbotron {
  background-image: url('/org/value/images/jumbotron/b.jpg');
  background-position: center;
  background-size: cover;
}

.featured-jumbotron {
  &,
  & &-headline,
  & &-subtitle {
    font-size: 40px;
    font-weight: 600;
  }
}

.featured-jumbotron.alternate h1, .featured-jumbotron.alternate p  {
  font-size: 40px;
  font-weight: 600;
}

.display-flex-center {
  display: flex;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.panel-group .panel {
  margin-bottom: 30px;
}

.panel {
  background-color: transparent;
  box-shadow: unset;
  border: unset;
}

.width-250 {
  width: 250px;
}

.btn {
  font-weight: 500;
}

.btn-default {
  background-color: #E3E0E0;
  border-color: #E3E0E0;
}

.btn-black {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.btn-default:visited, .btn-default:focus {
  color: black;
}

.rounded-10 {
  border-radius: 10px;
}

.section-highlights {
  background-color:transparent;
}

.info-section p {
  margin:30px 30px 30px 0;
}

.background-white {
  background-color: white;
  height: 350px;
}

.highlighted-story .row {
  max-width: 400px;
}

@media (max-width: 768px) {
  .highlighted-story .row {
    margin: auto;
  }
}

.success-story {
  box-shadow: 10px 20px 5px #e4e4e4;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.survey-reports .btn {
  color: #f79422;
  background-color: #EDEBEB;
}

.success-stories-title {
  font-weight: 600;
  color: #545454;
}

.success-stories-download {
  width: 100%;
}

.success-stories-download.btn-white {
  color: #f79422;
  box-shadow: 10px 10px 5px #c9c9c9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.success-stories-download-link:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.newsroom-resources .card-item {
  max-width: 290px;
  min-width: 250px;
  flex: 1;
  box-shadow: 10px 20px 10px #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
}

.newsroom-resources .card-item.card-item-success {
  max-width: 260px;
  min-width: 230px;
}

.newsroom-resources .card-item .image-container{
  display: block;
  padding-top: 128%;
  padding-left: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.newsroom-resources .card-item .image-container .cover{
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  right: 0;
}

.newsroom-resources .card-item .btn {
  padding: 10px 12px;
  background-color: #fff;
  color: #f79422;
  border: #fff;
}

#success_stories .newsroom-resources .card-item .btn {
  background-color: #f7941e;
  border-color: #f7941e;
  color: #fff;
}

#surveyReports .newsroom-resources .card-item .btn {
  background-color: #EDEBEB;
  border: #EDEBEB;
}

.success-stories-col {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .info-section p {
    font-size:18px;
    margin:60px 0;
  }
}

@media only screen and (max-width: 970px) {
  .info-section p {
    font-size:16px;
    margin:50px 0;
  }
}

@media only screen and (max-width: 768px) {
  .info-section p {
    font-size:16px;
    margin:60px 0;
  }
}

@media only screen and (min-width: 1201px) {
  .info-section p {
    font-size:18px;
  }
}

@media only screen and (min-width: 768px) {
  .info-section-picture:before {
    display:block;
    content:"";
    width:1000px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.gradient-circle {
  background:  linear-gradient(to bottom, #f79422 0%,#ffbd59, #ffde59 100%);
  border-radius:100px;
  width:76px;
  height:76px;
  display:block;
  padding:17px;
  margin:0 auto 20px;
}

.section-highlights .featured-highlights-item .feather {
  stroke: #fff;
}

