/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

// Remove shadow from jumbotron paragraphs at smaller screen sizes.
@media (max-width: @screen-md-max) {
  .jumbotron p {
    text-shadow: unset;
  }
}


// @todo: Move to EFSA 
.featured-jumbotron-dark.featured-jumbotron-astro {
    h2,
    .h2,
    h3,
    .h3 {
        color: @white;
    }
}

.featured-jumbotron .featured-story-jumbotron {
  .container;
}

.featured-jumbotron {
    text-align: center;
    font-weight: 400;

    @media (min-width: @screen-md-min) {
        text-align: left;
    }
}

.featured-jumbotron.featured-jumbotron-astro h1 {
  font-size: @font-size-3xl;
  letter-spacing: normal;
}


//== Featured Story

.featured-story-jumbotron .featured-story-jumbotron-content-title {
  font-size: @font-size-xl;
}

// @todo: Move to EFSA
.featured-story-jumbotron {
    max-width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;

    @media (min-width: @screen-md-min) {
        text-align: left;
    }
}

