{{/*
  Copyright (c) 2024 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
*/}}

<section class="why-join-section split row split-reverse"> 
  <div class="split-col"> 
    <a class="eclipsefdn-video why-join-video" href="//www.youtube.com/watch?v=SnQ9xk9EROw" data-thumbnail-resolution="max">
    </a>
  </div>
  <div class="split-col">
    <div class="split-content padding-60">
      {{ .Inner | markdownify }}
    </div>
  </div>
</section>

