/*
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.header-specifications .featured-jumbotron {
  background-image: url(../../images/specifications/banner.jpg);
  background-position: top;
  background-size: cover;
}

.dark a {
  color: #ffa02e;
}

.specifications-bg {
  background-color: #333;
  position: relative;
}

.specifications-bg-content {
  z-index: 2;
  position: relative;
  padding-right: 40px;
  padding-top: 40px;

  h2 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.specifications-bg:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: #333;
  z-index: 1;
}

.icon-orange-label {
  background-color: #f7941e;
  border-radius: 5px;
  position: relative;
  padding: 10px;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f7941e;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.specifications-icons h3 {
  margin-top: 0;
  font-weight: 400;
}

.specifications-wg {
  background-color: #fff;
  padding-bottom: 40px;
}

.specifications-wg-item-img {
  padding: 15px;
  margin-bottom: 20px;

  img {
    max-width: 200px;
    max-height: 75px;
    margin: 0 auto;
    object-fit: contain;
  }
}

.specifications-wg-item-content {
  background-color: #dfdfdf;
  padding: 30px 40px;
  margin-bottom: 20px;

  a {
    color: #333;
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }
}

.vertical-align-container {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.btn-black {
  background-color: #333;
  padding: 15px 40px;
  border-radius: 5px;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #222;
  }
}
